# Top-most .editorconfig file
root = true

# Global ruleset
[*.{cs,cpp,md,xml}]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4
max_line_length = 200

# Config files
[*.{env,json,ecrc,yml}]
end_of_line = unset
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = unset
max_line_length = unset
