# Top-most .editorconfig file
root = true

# Global ruleset
[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4
max_line_length = 120

# YAML files
[*.yml]
indent_style = space
indent_size = 2
